@model AssignmentWebshop.Models.ProductsPage

@{
	ViewBag.Title = "Products";
}

<h2>Products</h2>

<p>
	<label for="file">Choose a .csv file to upload products</label>
	<input type="file" id="input" value="Import products from .csv" accept=".csv" onchange="parseProductsFile(this.files[0])">
</p>

<hr />

<p>
	<label>
		Total products count:
		@Model.ProductsTotalCount
	</label>
</p>

<p>
	<label>Current page: @Model.PageNumber / @Model.PagesTotalCount</label>
<p>
<p class=".prev-next-block">
	@{
		if (Model.PreviousPageProductIndex != null)
		{
			@Html.ActionLink("Previous page", "", new
			   {
				   startIndex = Model.PreviousPageProductIndex
			   }, new { @class = "prev-link" })
		}

		if (Model.NextPageProductIndex != null)
		{
			@Html.ActionLink("Next page", "", new
			   {
				   startIndex = Model.NextPageProductIndex
			   }, new { @class = "next-link" })
		}
	}
</p>


<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.CurrentProducts.First().ProductName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CurrentProducts.First().ArticleCode)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CurrentProducts.First().ProductType)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CurrentProducts.First().Manufacturer)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CurrentProducts.First().Price)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CurrentProducts.First().DiscountPrice)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CurrentProducts.First().DeliveryRange)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CurrentProducts.First().PersonType)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CurrentProducts.First().Size)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CurrentProducts.First().Color)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model.CurrentProducts)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ProductName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ArticleCode)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProductType.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Manufacturer.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Price)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DiscountPrice)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DeliveryRange.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PersonType.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Size.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Color.Name)
			</td>
		</tr>
	}

</table>


@section Scripts {
	@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.3.6/papaparse.min.js")
	@Scripts.Render("~/Scripts/parseProductsFile.js")
	@Scripts.Render("~/Scripts/createProduct.js")
	@Scripts.Render("~/Scripts/showPleaseWait.js")
}